@layout MudBlazorLayout
@page "/forget-password"
@using MudBlazor
@* <h3>Register</h3> *@


<div class="wrapper">
    <CustomHeader />
    @if (IsLoading)
    {
        <div class="loading-overlay">
            @*  <div class="spinner"></div> *@
            <div id="preloader"></div>
        </div>
    }
    else
    {
        <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 pt-5">
                <div class="col col-xl-8">
                    <h1 class="text-center pb-2">Forgot your password?</h1>
                    <div class="form-container">
                        @if (!string.IsNullOrEmpty(Message))
                        {
                            <div class="alert alert-success">
                                @Message
                            </div>
                        }
                        @*  <MudGrid>
                    <MudItem xs="12" sm="12">

                    </MudItem>
                    </MudGrid> *@

                        <MudPaper Class="pa-4">
                            <EditForm Model="@_externalPasswordReset" OnValidSubmit="OnValidSubmit">
                                <DataAnnotationsValidator />
                                @* <ValidationSummary /> *@

                                <MudGrid>
                                    <MudItem xs="12">
                                        <MudText Typo="Typo.h4">Enter your email</MudText>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudTextField T="string" Label="Email" Variant="Variant.Outlined"
                                                      @bind-Value="_externalPasswordReset.Email" For="@(() => _externalPasswordReset.Email)" />
                                    </MudItem>
                                    <MudItem xs="12" Class="d-flex justify-center">
                                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Submit</MudButton>
                                    </MudItem>
                                </MudGrid>
                            </EditForm>
                        </MudPaper>

                    </div>
                </div>
            </div>
        </div>
    }


    <Footer />
</div>
