.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.form-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: var(--footer-spacing); /* Space below the form-container */
}

@media (max-width: 767.98px) { /* Mobile devices */
    .pt-5 {
        padding-top: 4.7em !important; /* Adjust based on navbar height */
    }
}

@media (min-width: 768px) { /* Desktop devices */
    .pt-5 {
        padding-top: 7em !important; /* Adjust based on navbar height */
    }
}
