@page "/admin/logout/"

@using PMS.UI.Contracts.Repository_Interface
@inject IAuthenticationService _AuthenticationService
@inject NavigationManager navManager
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await _AuthenticationService.Logout();
        navManager.NavigateTo("/admin/login/");
    }
}