@inject IJSRuntime JS

<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                @currentYear © Velonic - Theme by <b>Techzaa</b>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->

<script src="/assets/js/vendor.min.js"></script>


@code {
    private string currentYear;

    protected override async Task OnInitializedAsync()

    {

        currentYear = await JS.InvokeAsync<string>("getCurrentYear");

    }
}

<script src="/assets/js/app.min.js"></script>  