@* <!-- ========== Horizontal Menu Start ========== -->
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="/" id="topnav-dashboards" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-dashboard-3-line"></i>Dashboards
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-pages-line"></i>Pages <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-auth"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Authenitication <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth">
                                    <a href="/Authentication/Login" class="dropdown-item">Login</a>
                                    <a href="/Authentication/Register" class="dropdown-item">Register</a>
                                    <a href="/Authentication/Logout" class="dropdown-item">Logout</a>
                                    <a href="/Authentication/Forgot-Password" class="dropdown-item">Forgot Password</a>
                                    <a href="/Authentication/Lock-Screen" class="dropdown-item">Lock Screen</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-error"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Error <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-error">
                                    <a href="/Pages/Error-404" class="dropdown-item">Error 404</a>
                                    <a href="/Pages/Error-404-alt" class="dropdown-item">Error 404-alt</a>
                                    <a href="/Pages/Error-500" class="dropdown-item">Error 500</a>
                                </div>
                            </div>
                            <a href="/Pages/Starter-Page" class="dropdown-item">Starter Page</a>
                            <a href="/Pages/Contact-List" class="dropdown-item">Contact List</a>
                            <a href="/Pages/Profile" class="dropdown-item">Profile</a>
                            <a href="/Pages/Timeline" class="dropdown-item">Timeline</a>
                            <a href="/Pages/Invoice" class="dropdown-item">Invoice</a>
                            <a href="/Pages/FAQ" class="dropdown-item">FAQ</a>
                            <a href="/Pages/Pricing" class="dropdown-item">Pricing</a>
                            <a href="/Pages/Maintenance" class="dropdown-item">Maintenance</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-briefcase-line"></i>Components <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ui-kit"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Base UI 1 <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-ui-kit">
                                    <a href="/BaseUI/Accordions" class="dropdown-item">Accordions</a>
                                    <a href="/BaseUI/Alerts" class="dropdown-item">Alerts</a>
                                    <a href="/BaseUI/Avatars" class="dropdown-item">Avatars</a>
                                    <a href="/BaseUI/Badges" class="dropdown-item">Badges</a>
                                    <a href="/BaseUI/Breadcrumb" class="dropdown-item">Breadcrumb</a>
                                    <a href="/BaseUI/Buttons" class="dropdown-item">Buttons</a>
                                    <a href="/BaseUI/Cards" class="dropdown-item">Cards</a>
                                    <a href="/BaseUI/Carousel" class="dropdown-item">Carousel</a>
                                    <a href="/BaseUI/Dropdowns" class="dropdown-item">Dropdowns</a>
                                    <a href="/BaseUI/Embed-Video" class="dropdown-item">Embed Video</a>
                                    <a href="/BaseUI/Grid" class="dropdown-item">Grid</a>
                                    <a href="/BaseUI/List-Group" class="dropdown-item">List Group</a>
                                    <a href="/BaseUI/Links" class="dropdown-item">Links</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ui-kit2"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Base UI 2 <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-ui-kit2">
                                    <a href="/BaseUI/Modals" class="dropdown-item">Modals</a>
                                    <a href="/BaseUI/Notifications" class="dropdown-item">Notifications</a>
                                    <a href="/BaseUI/Offcanvas" class="dropdown-item">Offcanvas</a>
                                    <a href="/BaseUI/Placeholders" class="dropdown-item">Placeholders</a>
                                    <a href="/BaseUI/Pagination" class="dropdown-item">Pagination</a>
                                    <a href="/BaseUI/Popovers" class="dropdown-item">Popovers</a>
                                    <a href="/BaseUI/Progress" class="dropdown-item">Progress</a>
                                    <a href="/BaseUI/Spinners" class="dropdown-item">Spinners</a>
                                    <a href="/BaseUI/Tabs" class="dropdown-item">Tabs</a>
                                    <a href="/BaseUI/Tooltips" class="dropdown-item">Tooltips</a>
                                    <a href="/BaseUI/Typography" class="dropdown-item">Typography</a>
                                    <a href="/BaseUI/Utilities" class="dropdown-item">Utilities</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-extended-ui"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Extended UI <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-extended-ui">
                                    <a href="/ExtendedUI/Portlets" class="dropdown-item">Portlets</a>
                                    <a href="/ExtendedUI/Scrollbar" class="dropdown-item">Scrollbar</a>
                                    <a href="/ExtendedUI/Range-Slider" class="dropdown-item">Range Slider</a>
                                    <a href="/ExtendedUI/Scrollspy" class="dropdown-item">Scrollspy</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-forms"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Forms <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-forms">
                                    <a href="/Forms/Basic-Elements" class="dropdown-item">Basic Elements</a>
                                    <a href="/Forms/Form-Advanced" class="dropdown-item">Form Advanced</a>
                                    <a href="/Forms/Form-Validation" class="dropdown-item">Form Validation</a>
                                    <a href="/Forms/Form-Wizard" class="dropdown-item">Form Wizard</a>
                                    <a href="/Forms/File-Uploads" class="dropdown-item">File Uploads</a>
                                    <a href="/Forms/Form-Editors" class="dropdown-item">Form Editors</a>
                                    <a href="/Forms/Image-Crop" class="dropdown-item">Image Crop</a>
                                    <a href="/Forms/X-Editable" class="dropdown-item">X Editable</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-charts"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Charts <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-charts">
                                    <a href="/Charts/Apex-Charts" class="dropdown-item">Apex Charts</a>
                                    <a href="/Charts/Chartjs" class="dropdown-item">Chartjs</a>
                                    <a href="/Charts/Sparkline-Charts" class="dropdown-item">Sparkline Charts</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-tables"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tables <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-tables">
                                    <a href="/Tables/Basic-Tables" class="dropdown-item">Basic Tables</a>
                                    <a href="/Tables/Data-Tables" class="dropdown-item">Data Tables</a>
                                    <a href="/Tables/Editable-Tables" class="dropdown-item">Editable Tables</a>
                                    <a href="/Tables/Responsive-Table" class="dropdown-item">Responsive Table</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-icons"
                                   role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Icons <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-icons">
                                    <a href="/Icons/Remix-Icons" class="dropdown-item">Remix Icons</a>
                                    <a href="/Icons/Bootstrap-Icons" class="dropdown-item">Bootstrap Icons</a>
                                    <a href="/Icons/Material-Design-Icons">Material Design Icons</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-maps"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Maps <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-maps">
                                    <a href="/Maps/Google-Maps" class="dropdown-item">Google Maps</a>
                                    <a href="/Maps/Vector-Maps" class="dropdown-item">Vector Maps</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-layouts" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-layout-line"></i>Layouts <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-layouts">
                            <a href="/Layouts/Horizontal" class="dropdown-item" target="_blank">Horizontal</a>
                            <a href="/Layouts/Light-Sidebar" class="dropdown-item" target="_blank">Light Sidebar</a>
                            <a href="/Layouts/Small-Sidebar" class="dropdown-item" target="_blank">Small Sidebar</a>
                            <a href="/Layouts/Collapsed-Sidebar" class="dropdown-item" target="_blank">Collapsed Sidebar</a>
                            <a href="/Layouts/Unsticky-Layout" class="dropdown-item" target="_blank">Unsticky Layout</a>
                            <a href="/Layouts/Boxed-Layout" class="dropdown-item" target="_blank">Boxed Layout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- ========== Horizontal Menu End ========== --> *@