<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="/" class="logo logo-light">
        <span class="logo-lg">
            <img src="/assets/images/logo.png" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="/assets/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="/" class="logo logo-dark">
        <span class="logo-lg">
            <img src="/assets/images/logo-dark.png" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="/assets/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title">Main</li>

            <li class="side-nav-item">
                <a href="/admin/dashboard/" class="side-nav-link">
                    <i class="ri-dashboard-3-line"></i>
                    <span class="badge bg-success float-end"></span>
                    <span> Dashboard </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/admin/employee/" class="side-nav-link">
                    <i class="fa-regular fa-address-card"></i>
                    <span class="badge bg-success float-end"></span>
                    <span> Employees </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/admin/client/" class="side-nav-link">
                    <i class="fa-solid fa-people-group"></i>
                    <span class="badge bg-success float-end"></span>
                    <span> Client </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/jobs/" class="side-nav-link">
                    <i class="fa-solid fa-person-digging"></i>
                    <span class="badge bg-success float-end"></span>
                    <span> Jobs </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/submitted-forms/" class="side-nav-link">
                    <i class="fa-brands fa-wpforms"></i>
                    <span class="badge bg-success float-end"></span>
                    <span> Submiited Forms</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarPages" class="side-nav-link">
                    <i class="ri-pages-line"></i>
                    <span> Pages </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPages">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/Pages/Starter-Page">Starter Page</a>
                        </li>
                        <li>
                            <a href="/Pages/Contact-List">Contact List</a>
                        </li>
                        <li>
                            <a href="/Pages/Profile">Profile</a>
                        </li>
                        <li>
                            <a href="/Pages/Timeline">Timeline</a>
                        </li>
                        <li>
                            <a href="/Pages/Invoice">Invoice</a>
                        </li>
                        <li>
                            <a href="/Pages/FAQ">FAQ</a>
                        </li>
                        <li>
                            <a href="/Pages/Pricing">Pricing</a>
                        </li>
                        <li>
                            <a href="/Pages/Maintenance">Maintenance</a>
                        </li>
                        <li>
                            <a href="/Pages/Error-404">Error 404</a>
                        </li>
                        <li>
                            <a href="/Pages/Error-404-alt">Error 404-alt</a>
                        </li>
                        <li>
                            <a href="/Pages/Error-500">Error 500</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesAuth" aria-expanded="false" aria-controls="sidebarPagesAuth" class="side-nav-link">
                    <i class="ri-group-2-line"></i>
                    <span> Authentication </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesAuth">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/Authentication/Login">Login</a>
                        </li>
                        <li>
                            <a href="/Authentication/Register">Register</a>
                        </li>
                        <li>
                            <a href="/Authentication/Logout">Logout</a>
                        </li>
                        <li>
                            <a href="/Authentication/Forgot-Password">Forgot Password</a>
                        </li>
                        <li>
                            <a href="/Authentication/Lock-Screen">Lock Screen</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarLayouts" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                    <i class="ri-layout-line"></i>
                    <span class="badge bg-warning float-end">New</span>
                    <span> Layouts </span>
                </a>
                <div class="collapse" id="sidebarLayouts">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/Layouts/Horizontal" target="_blank">Horizontal</a>
                        </li>
                        <li>
                            <a href="/Layouts/Light-Sidebar" target="_blank">Light Sidebar</a>
                        </li>
                        <li>
                            <a href="/Layouts/Small-Sidebar" target="_blank">Small Sidebar</a>
                        </li>
                        <li>
                            <a href="/Layouts/Collapsed-Sidebar" target="_blank">Collapsed Sidebar</a>
                        </li>
                        <li>
                            <a href="/Layouts/Unsticky-Layout" target="_blank">Unsticky Layout</a>
                        </li>
                        <li>
                            <a href="/Layouts/Boxed-Layout" target="_blank">Boxed Layout</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-title">Components</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarBaseUI" aria-expanded="false" aria-controls="sidebarBaseUI" class="side-nav-link">
                    <i class="ri-briefcase-line"></i>
                    <span> Base UI </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarBaseUI">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/BaseUI/Accordions">Accordions</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Alerts">Alerts</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Avatars">Avatars</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Buttons">Buttons</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Badges">Badges</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Breadcrumb">Breadcrumb</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Cards">Cards</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Carousel">Carousel</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Collapse">Collapse</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Dropdowns">Dropdowns</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Embed-Video">Embed Video</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Grid">Grid</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Links">Links</a>
                        </li>
                        <li>
                            <a href="/BaseUI/List-Group">List Group</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Modals">Modals</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Notifications">Notifications</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Offcanvas">Offcanvas</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Placeholders">Placeholders</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Pagination">Pagination</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Popovers">Popovers</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Progress">Progress</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Spinners">Spinners</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Tabs">Tabs</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Tooltips">Tooltips</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Typography">Typography</a>
                        </li>
                        <li>
                            <a href="/BaseUI/Utilities">Utilities</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarExtendedUI" aria-expanded="false" aria-controls="sidebarExtendedUI" class="side-nav-link">
                    <i class="ri-compasses-2-line"></i>
                    <span> Extended UI </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarExtendedUI">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/ExtendedUI/Portlets">Portlets</a>
                        </li>
                        <li>
                            <a href="/ExtendedUI/Scrollbar">Scrollbar</a>
                        </li>
                        <li>
                            <a href="/ExtendedUI/Range-Slider">Range Slider</a>
                        </li>
                        <li>
                            <a href="/ExtendedUI/Scrollspy">Scrollspy</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarIcons" aria-expanded="false" aria-controls="sidebarIcons" class="side-nav-link">
                    <i class="ri-pencil-ruler-2-line"></i>
                    <span> Icons </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarIcons">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/Icons/Remix-Icons">Remix Icons</a>
                        </li>
                        <li>
                            <a href="/Icons/Bootstrap-Icons">Bootstrap Icons</a>
                        </li>
                        <li>
                            <a href="/Icons/Material-Design-Icons">Material Design Icons</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarCharts" aria-expanded="false" aria-controls="sidebarCharts" class="side-nav-link">
                    <i class="ri-donut-chart-fill"></i>
                    <span> Charts </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarCharts">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/Charts/Apex-Charts">Apex Charts</a>
                        </li>
                        <li>
                            <a href="/Charts/Chartjs">Chartjs</a>
                        </li>
                        <li>
                            <a href="/Charts/Sparkline-Charts">Sparkline Charts</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarForms" aria-expanded="false" aria-controls="sidebarForms" class="side-nav-link">
                    <i class="ri-survey-line"></i>
                    <span> Forms </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarForms">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/Forms/Basic-Elements">Basic Elements</a>
                        </li>
                        <li>
                            <a href="/Forms/Form-Advanced">Form Advanced</a>
                        </li>
                        <li>
                            <a href="/Forms/Form-Validation">Form Validation</a>
                        </li>
                        <li>
                            <a href="/Forms/Form-Wizard">Form Wizard</a>
                        </li>
                        <li>
                            <a href="/Forms/File-Uploads">File Uploads</a>
                        </li>
                        <li>
                            <a href="/Forms/Form-Editors">Form Editors</a>
                        </li>
                        <li>
                            <a href="/Forms/Image-Crop">Image Crop</a>
                        </li>
                        <li>
                            <a href="/Forms/X-Editable">X Editable</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarTables" aria-expanded="false" aria-controls="sidebarTables" class="side-nav-link">
                    <i class="ri-table-line"></i>
                    <span> Tables </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarTables">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/Tables/Basic-Tables">Basic Tables</a>
                        </li>
                        <li>
                            <a href="/Tables/Data-Tables">Data Tables</a>
                        </li>
                        <li>
                            <a href="/Tables/Editable-Tables">Editable Tables</a>
                        </li>
                        <li>
                            <a href="/Tables/Responsive-Table">Responsive Table</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarMaps" aria-expanded="false" aria-controls="sidebarMaps" class="side-nav-link">
                    <i class="ri-map-pin-line"></i>
                    <span> Maps </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarMaps">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="/Maps/Google-Maps">Google Maps</a>
                        </li>
                        <li>
                            <a href="/Maps/Vector-Maps">Vector Maps</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarMultiLevel" aria-expanded="false" aria-controls="sidebarMultiLevel" class="side-nav-link">
                    <i class="ri-share-line"></i>
                    <span> Multi Level </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarMultiLevel">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href="javascript: void(0);">Level 1.1</a>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarSecondLevel" aria-expanded="false" aria-controls="sidebarSecondLevel">
                                <span> Level 1.2 </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarSecondLevel">
                                <ul class="side-nav-third-level">
                                    <li>
                                        <a href="javascript: void(0);">Item 1</a>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0);">Item 2</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarThirdLevel" aria-expanded="false" aria-controls="sidebarThirdLevel">
                                <span> Level 1.3 </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarThirdLevel">
                                <ul class="side-nav-third-level">
                                    <li>
                                        <a href="javascript: void(0);">Item 1</a>
                                    </li>
                                    <li class="side-nav-item">
                                        <a data-bs-toggle="collapse" href="#sidebarFourthLevel" aria-expanded="false" aria-controls="sidebarFourthLevel">
                                            <span> Item 2 </span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="sidebarFourthLevel">
                                            <ul class="side-nav-forth-level">
                                                <li>
                                                    <a href="javascript: void(0);">Item 2.1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript: void(0);">Item 2.2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>


        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->