.swal2-confirm.red-btn {
    background-color: #e74c3c; /* Red background */
    border-color: #e74c3c; /* Red border */
}

.swal2-cancel.green-btn {
    background-color: #2ecc71; /* Green background */
    border-color: #2ecc71; /* Green border */
}
