@page "/success/{Id:int}"

<div class="container success-page">
    <div class="success-content">
        <img src="success-image.png" alt="Success" class="success-image">
        <h1 class="success-message">Form Submitted Successfully!</h1>
        <p class="tracking-id">Your Tracking ID: <span id="trackingId">@string.Format("{0:D5}", FormVM.CustomerId)</span></p>
        <p>If you do not have an account, you will not be able to track your form status.<br> <a href="create-account.html">Create an account</a></p>
    </div>
</div>
