/* Hide elements with class 'mobile-device' by default */
.mobile-device {
    display: none;
}

/* Show elements with class 'mobile-device' only on screens smaller than 768px */
@media (max-width: 767px) {
    .mobile-device {
        display: block;
    }
}

/* Show elements with class 'mobile-device' only on screens 768px and larger */
@media (min-width: 768px) {
    .mobile-device {
        display: none;
    }
}
