<header id="header" style="background-color: rgba(1, 8, 33, 0.82);" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/" class="logo d-flex align-items-center me-auto">
            <img src="/assets/img/logo.png" alt="">
            <!-- Uncomment the line below if you also wish to use an text logo -->
            <!-- <h1 class="sitename">TheEvent</h1>  -->
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>

                <AuthorizeView>
                    <Authorized>
                        <li><a href="/" class="active">Home<br></a></li>
                        @*  <li><a href="#speakers">Speakers</a></li>
                        <li><a href="#schedule">Schedule</a></li>
                        <li><a href="#venue">Venue</a></li> *@


                        @*  <li><a href="#hotels">Hotels</a></li>
                        <li><a href="#gallery">Gallery</a></li> *@
                        <li class="dropdown">
                            <a href="#"><span>Tracking</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="/track-form-status/">Appraisal Status</a></li>
                                @*  <li class="dropdown">
                                <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                                </ul>
                                </li> *@
                                <li><a href="#">Tracking 2</a></li>
                                <li><a href="#">Tracking 3</a></li>
                                <li><a href="#">Tracking 4</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                @*  <li class="dropdown">
                                <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                                </ul>
                                </li> *@
                                <li><a href="#">Action</a></li>
                                <li><a href="/create/">Appraisal</a></li>
                                <li><a href="#">Construction Estimate</a></li>
                                <li><a href="#">General Contractor</a></li>
                                <li><a href="#">Land Surveyor</a></li>
                                <li><a href="#">Legal Representation</a></li>
                                <li><a href="#">Property Management</a></li>
                                <li><a href="#">Sales/Rental</a></li>
                                <li><a href="#">Structural Survey</a></li>
                                <li><a href="#">Valuation</a></li>
                            </ul>
                        </li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a class="text-white"><span>@context.User?.Identity?.Name</span></a>
                            <ul>
                                <li class="logout-item">
                                    <i class="fa-solid fa-user"></i>
                                    <a href="/profile">profile</a>
                                </li>
                                <li class="logout-item">
                                    <i class="fa-solid fa-power-off"></i>
                                    <a href="/logout">logout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown mobile-device">
                            <a><span>@context.User?.Identity?.Name</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li class="logout-item">
                                    <i class="fa-solid fa-user"></i>
                                    <a href="/profile">profile</a>
                                </li>
                                <li class="logout-item">
                                    <i class="fa-solid fa-power-off"></i>
                                    <a href="/logout">logout</a>
                                </li>
                            </ul>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="dropdown">
                            <a href="#"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                @*  <li class="dropdown">
                                <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                                </ul>
                                </li> *@
                                <li><a href="#">Action</a></li>
                                <li><a href="/create/">Appraisal</a></li>
                                <li><a href="#">Construction Estimate</a></li>
                                <li><a href="#">General Contractor</a></li>
                                <li><a href="#">Land Surveyor</a></li>
                                <li><a href="#">Legal Representation</a></li>
                                <li><a href="#">Property Management</a></li>
                                <li><a href="#">Sales/Rental</a></li>
                                <li><a href="#">Structural Survey</a></li>
                                <li><a href="#">Valuation</a></li>
                            </ul>
                        </li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="login/" class="mobile-device">Login</a></li>
                        <li><a href="register/" class="mobile-device">Register</a></li>
                        <li><a href="login/" class="cta-btn d-none d-sm-block">Login</a></li>
                        <li><a href="register/" class="cta-btn d-none d-sm-block">Register</a></li>
                        |
                        <li><a href="/admin/login/" class="cta-btn d-none d-sm-block">Admin</a></li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>


@* <header id="header" style="background-color: rgba(1, 8, 33, 0.82);" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/" class="logo d-flex align-items-center me-auto">
            <img src="/assets/img/logo.png" alt="">
            <!-- Uncomment the line below if you also wish to use an text logo -->
            <!-- <h1 class="sitename">TheEvent</h1>  -->
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/" class="active">Home<br></a></li>
                <li><a href="#speakers">Speakers</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="#venue">Venue</a></li>
               

                <li><a href="#hotels">Hotels</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li class="dropdown">
                    <a href="#"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="/create/">Appraisal</a></li>
                       @*  <li class="dropdown">
                            <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                            </ul>
                        </li> 
                        <li><a href="#">Dropdown 2</a></li>
                        <li><a href="#">Dropdown 3</a></li>
                        <li><a href="#">Dropdown 4</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li>
                <AuthorizeView>
                    <Authorized></Authorized>
                    <NotAuthorized>
                        <li><a href="login/" class="cta-btn d-none d-sm-block">Login</a></li>
                        <li><a href="register/" class="cta-btn d-none d-sm-block">Register</a></li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header> *@

@code {
   
}
